@import "tailwindcss";

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }

}

.animate-float {
    animation: float 2s ease-in-out infinite;
}

@theme {
    --animate-spin-slow: spin 6s linear infinite;
}

/* round */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade {
    animation: fadeIn 0.3s ease;
}

@keyframes spinSlow {
    from {
        transform: rotate(0deg) scale(0.8);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    to {
        transform: rotate(360deg) scale(0.8);
    }
}

.animate-spin-slow {
    animation: spinSlow 1.6s linear infinite;
}